@font-face {
    font-family: 'Whestley caps';
    src: url('Whestleycaps.woff2') format('woff2'),
        url('Whestleycaps.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Whestley';
    src: url('Whestley.woff2') format('woff2'),
        url('Whestley.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

