@import '../../Components/variables.styles.scss';
@import '../../font/stylesheet.css';

.search-page {
    width: 95%;
    margin: 0 auto;
    &-logo{
        font-family: 'Whestley';
        color: $text-yellow;
        font-weight: 100;
        font-size: 10rem;
    }
}